#cover {
  position: relative;
  height: calc(100vh - 60px);
  width: 100vw;
  background-image: url("./images/macbook.jpg");
  /*background-attachment: fixed;*/
  background-position: 50% 60%;
  background-size: cover;
}

h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-align: center;
  width: 350px;
}

.module {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 30px 30px 0 30px;
}

.reverse {
  flex-direction: row-reverse;
}

.media {
  border: 0px dotted black;
  width: 350px;
  background-image: url("https://i.gifer.com/HrCg.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.textContainer {
  font-size: 24px;
  max-width: 50vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h4 {
  padding: 20px;
}

h5 {
  font-size: 30px;
  padding: 80px 0;
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0 0 0;
}

#buttons img {
  width: 150px;
  margin: 10px 30px;
  transition: transform 0.3s ease;
}

#buttons img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 500px) {
  #cover {
    height: calc(100vh - 110px);
  }
  h3 {
    font-size: 10vmin;
    width: 100vw;
    padding: 0 30px;
    box-sizing: border-box;
  }
  .module {
    flex-wrap: wrap;
    height: auto;
  }
  .media {
    min-height: 100vmin;
  }
  .textContainer {
    min-width: 100vw;
    font-size: 7vmin;
    box-sizing: border-box;
    padding: 10px 10px;
  }
}
