#thumbContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px;
}

.item {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  margin: 20px;
  animation: fadeIn ease 1s;
}

img {
  display: none;
}

.loading {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  height: 40px;
  width: 40px;
}

.loading:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #ddd;
  border-color: #ddd transparent #ddd transparent;
  animation: spin 1.2s linear infinite;
}

.thumb {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif");
  border-radius: 10px;
  background-color: white;
  opacity: 1;
}

.thumb .fadeIn {
  animation: fadeIn ease 2s;
}

.cat .thumb {
  background-size: cover !important;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.shade {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;
  box-sizing: border-box;
  pointer-events: none;
  border-radius: 20px;
}

.clickOff,
#clickAllOff {
  position: absolute;
  height: 100%;
  width: 100%;
  /*background-color: green;*/
}

h6 {
  text-align: center;
}

.name {
  color: white;
  font-size: 18px;
  /*z-index: 99999;*/
}

.price {
  color: white;
  font-size: 14px;
}

.shade a {
  z-index: 99999;
}

.view {
  background-color: white;
  font-size: 16px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  padding: 15px 30px;
  color: black;
}

.view:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 580px) {
  #cover {
    height: calc(100vh - 110px);
  }
  h3 {
    font-size: 8vmin;
    width: 100vw;
    padding: 0 30px;
    box-sizing: border-box;
  }
  #thumbContainer {
    padding: 0 0px;
  }
  .module {
    flex-wrap: wrap;
    height: auto;
  }
  .media {
    min-height: 100vmin;
  }
  .textContainer {
    min-width: 100vw;
    font-size: 7vmin;
    box-sizing: border-box;
    padding: 10px 10px;
  }
  .item {
    margin: 10px;
    width: calc((100vw - 60px) / 2);
    height: calc((100vw - 60px) / 2);
  }
  .thumb {
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
  .shade {
    padding: 8vmin 4vmin;
  }
  .name {
    font-size: 3.5vmin;
  }
  .price {
    font-size: 3vmin;
  }
  h5 {
    font-size: 6vmin;
  }
  .view {
    font-size: 3vmin;
    padding: 3vmin 6vmin;
    font-size: 4vmin;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
